apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portfolio-devops-helm
spec:
  project: default
  source:
    repoURL: 'https://github.com/roxsross/roxs-gitops-devops'
    path: argocd-helm
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
